---
description: 
pack: aws
enabled: true
entry_point: run.py
name: config_put_delivery_channel
runner_type: python-script
parameters:
  account_id:
    type: string
  region:
    type: string
  action:
    default: put_delivery_channel
    immutable: true
    type: string
  cls:
    default: config
    type: string
  headers:
    type: string
  module_path:
    default: boto3
    immutable: true
    type: string
  DeliveryChannel:
    type: object
    description: "The configuration delivery channel object that delivers the configuration information to an Amazon S3 bucket, and to an Amazon SNS topic."
    required: true